@page
@model ModuleManager.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.TemplateId) : 
            @Html.DisplayFor(model => model.Review.TemplateId)
        </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Details)
        </dd>
        <!-- <snippet> -->
        @*Precedng markup omitted for brevity.*@
    <dt>
            @Html.DisplayNameFor(model => model.Review.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Status)
        </dd>
    </dl>
</div>

        
            <button type="submit" class="btn btn-xs btn-primary">Review</button>
@if (Model.Review.Status != ReviewStatus.Approved)
{
    @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Review, ModuleOperations.Approve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Review.ReviewId" />
            <input type="hidden" name="status" value="@ReviewStatus.Approved" />
            <button type="submit" class="btn btn-xs btn-success">Approve</button>
        </form>
    }
}

@if (Model.Review.Status != ReviewStatus.Rejected)
{
    @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Review, ModuleOperations.Reject)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Review.ReviewId" />
            <input type="hidden" name="status" value="@ReviewStatus.Rejected" />
            <button type="submit" class="btn btn-xs btn-danger">Reject</button>
        </form>
    }
}

<div>
    @if ((await AuthorizationService.AuthorizeAsync(
         User, Model.Review,
         ModuleOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Review.ReviewId">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>
<!-- </snippet> -->
