@page
@model ModuleManager.Pages.Modules.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>



<h4>Module: @Model.Module.Name</h4>
<hr />
            
    <div class="flex-container">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        <div class="accordion">
            <h3>Module Details</h3>
            <div class="row">
                    <input type="hidden" asp-for="Module.Details" />
                    <span asp-validation-for="Module.Details" class="text-danger"></span>
            <div id="formio" style=width:100%></div>
            </div>
            <h3>Required Components</h3>
            <div>
                    <table class="table">
                        <thead><tr><th>Component</th><th>Status</th><th></th></tr></thead>
                        <tbody>
                        @foreach (var t in Model.Templates)
                        {
                            <tr><td>@t.Text</td><td>Status</td><td><a asp-page="../Components/Details" class=""  asp-route-templateid="@t.Value" asp-route-moduleid="@Model.Module.ModuleId">View</a> | <a asp-page="../Components/Edit" class=""  asp-route-templateid="@t.Value" asp-route-moduleid="@Model.Module.ModuleId">Edit</a></td></tr>
                        }</tbody>
                    </table>
                </div>
            </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src='https://unpkg.com/formiojs@4.14.0/dist/formio.full.min.js'></script>
    @*<script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>*@
    <script type='text/javascript'>
      window.onload = function() {
        Formio.createForm(document.getElementById('formio'), @Html.Raw(Model.Template)).then((form) => {
          let modeldata=JSON.parse('@Html.Raw(Model.Module.Details)'||'{}');
          form.submission = {
            data:  modeldata
          };
          // Register for the submit event to get the completed submission.
          form.on('submit', function(submission) {
              $("#Module_Details").val(JSON.stringify(submission));
          });
  
          // Everytime the form changes, this will fire.
          form.on('change', function(changed) {
              $("#Module_Details").val(JSON.stringify(changed));
          });
        });
      //accordion
      $(".accordion").accordion({activate:()=>{
          tables.draw( false );
      },
      animate:false});
      }
    </script>
}